.App {
  text-align: center;
}
.music-control-bar {
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  background-color: #4B4848;
}
.centerColumn {
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 5px;
}
.content-container{
  position: absolute;
  width: 100% ;
  height: 85%;
  color: aliceblue;
  background-color:#1D1A1A;
  right: 0;
  top: 0;
  width: 84.45%;
}
.image{
  position: absolute;
  left: 2.71%;
  right: 77%;
  top: 15%;
}
#avatar2
{
  top: 0%;
  left: 88%;
}  


